* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ecede6;
}

#title {
    font-family: sa;
    font-size: 30px;
    height: 50px;
}

h1{
    position: relative;
}
h1::before{
content: '';
position: absolute;
width: 50px;
height: 3px;
background-color: #bb44c6;
top: 40px;
left: 50%;
transform: translate(-50%);
animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 50px;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 50px;
    }
}

.text-center {
    font: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

@media (max-width: 600px) {
    .text-center{
        font-size: 16px;
    }
}